*{
box-sizing: border-box;
margin:0;
padding:0;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: aliceblue;
}
header{
    background-color: rgb(16, 87, 150);
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header button{
    padding-inline:15px;
    margin-inline-start: 15px;
}
#home{

background-color: transparent;
border: none;
}
a{
    color: white;
    color: white;
text-decoration: none;
}
#reset{
    background-color: white;
    padding:8px 15px;
    border:none;
    border-radius: 15px;
}
.container__content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-block: 12px;
    flex-direction: column;
}

.container__content h1,h3{
    margin-block: 10px;
}

form{
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    background-color: white;
    width: 100%;
    height: 100%;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
   
    
}
.form__container{
    background-color:white;
    padding:25px;
    width: 80%;
    margin: 0 auto;
    height:50vh;
    border-radius: 5px;
}
form label{
    margin-top:10px;
    
}
form input[type="text"],[type="email"]{
    width:100%;
    padding: 8px;
    margin-block: 10px;
    border-radius: 5px;
    border:1px solid #cccccc;

}
textarea{
    width: 100%;
    height: 10vh;
    border-radius: 5px;
    border:1px solid #cccccc;
    padding: 10px;
}
form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
form div:nth-of-type(1) label{
    padding-inline: 15px;
}
#radio{
    margin-block: 10px;
    padding-block: 10px;
    
}

.checkbox{
    padding-block: 10px;
    
}
form button{
    padding: 10px;
    width: 100%;
    margin-block: 10px;
    background-color: rgb(16, 87, 150);
    color: white;
    border: none;
    border-radius: 5px;
}
#back{
    margin-block: 20px;
}
#back a{
    color:black;
    text-decoration: underline;
    
}
@media only screen and (max-width:1900px){
  
}
#display{
    text-align: center;
}

