/* green color: #6b923e; */
@font-face {
    font-family: Harmond;
    src: url("./font/Harmond-SemiBoldCondensed.otf");
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;

}
body{
    background-color:rgb(212, 241, 255);
}
nav{
   
    background-color: #ffffffab;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    background-color: rgba(110, 216, 145, 0.158);
    border-radius: 12px;    
    margin: 0 auto;
    transition: all .4s ease-in-out;
  
}
nav ul li{
    list-style-type: none;
    padding:15px;
    font-size: 1rem;
    
}
/* adding animation using classList in js */
.header {
    width: 90%;
    position: fixed;
    z-index: 1000; 
    background-color: #4c6d26;
    border-radius: 45px;
    left:5%;
   
}
    .ul{
        width: 100%;
        justify-content: center;
        border-radius: 0px;
        transition: all .4s ease-in-out; 
        background-color: none;
        color: white;
        border-radius: 45px;
    }
nav button{
    padding:10px;
    border:none;
    background: transparent;
    margin-inline:12px;

}
.register-btn{
    display: flex;
    align-items: center;
    justify-content: center ;
   
}
.register-btn button{
    font-size: 1rem;
}
.home-log-btn:hover{
    color:#4c6d26;
}

.home-sign-btn{
    border:1px solid #6b923e ;
    background-color: #6b923e;
    color: white;
    width:150px;
}
.home-sign-btn:hover{
    background-color: #5a7a34; 
    border:1px solid #6b923e ;

}


.login-register{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #1615151e;
    position: absolute;
    left: 0;
    top:0;
    padding: 5%;
    backdrop-filter: blur(3px);
    overflow: hidden;
}
.login-page{
    display: flex;
    align-items: center;
    width: 80%;
    height: 80vh;
    margin:0 auto;
    background-image: url("./img/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -10px;
    background-position-x: 15px;
   margin-top: 20px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.301);

   
    
}
#errorMessage{
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: #ff0000a2;

}

.align-form{
    
    display: flex;
    align-items: space-between; 
    justify-content: space-around;
    width: 100%;
    height: 80vh;
   
}
.align-form a{
    text-align: right;
}
form{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    padding: 145px;

}  

::placeholder{
    color: #ddd;
    font-size: 1rem;
}
label{
    color:rgba(0, 0, 0, 0.336);
} 

input[type="email"],
input[type="password"]{
    margin-block: 10px;
        border: none;
        padding: 20px;
        border-bottom: 1px solid #8080803f;
        outline: none;
}
input[type="button"],a,p{
    margin-block: 12px;
}
input[type="button"]{
    cursor: pointer;
}
#login-btn{
    background-color: black ;
    color:white;
    padding: 15px;
    margin-top: 45px;
}
.other-btn{

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-block: 15px;
    margin-block: 25px;
}
hr{
    margin-block: 25px;
}
.other-btn button{
    padding: 10px;
    background-color: transparent;
    border:1px solid #8080803f;
    border-radius: 8px;
    color:#161515a8;
    width: 120px;
    cursor: pointer;
}
.forgot-link{
    color:#6b923e;
    text-underline-offset: 10px;
}
.other-btn button:hover{
    color: #161515cc;
  
    background-color: #1615151e;
}


/* create a new account sytle */

.newAcc{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    width: 100%;
    

}
.newacc-content{
    background-color: #8ab88d6e;
    backdrop-filter: blur(5px);
    width: 480px;
    padding: 45px;

}
.newacc-content h1{
    color: rgba(255, 255, 255, 0.932);

}
.newacc-content button{
    padding:15px;
    margin-block:15px;
    width: 250px;
    background-color: #ffffff80;
    border: none;
    border-radius: 25px;
    color:#4c6d26;
}
.newacc-content p{
    color:#183b04cc;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 0.85rem;   
}
.side-register-container{
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    width: 100%;
}

/* main contianer home content  with search button*/
.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 5%;
    width: 100%;
    background-color: #ffffffab;
    mask-image: linear-gradient(black 80%,transparent );
    text-align: center;
}
.main-content h1,p{
    margin-block: 25px;
}
.main-content h1{
 font-size: 2.5rem;
 font-weight:700;
}
.main-content p {
    width: 50%;
    text-align: center;
    line-height: 2.3;
    color:#5a7a34;
}
.home-main-btn button{
    padding:15px;
    margin-inline: 25px;
    width: 250px;
    margin-block: 25px;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 3px 3px 6px #00000049;

}

.home-main-btn button:nth-child(1){
    background-color: #6b923e;
    border: none;
    color: white;
}
.home-main-btn button:nth-child(2){
    background-color: transparent;
    border: 1px solid #6b923e;
    color: #4c6d26;
}


.errorMessage{
    color:red;
}



.myvideo{
    width: 100%;
    opacity: 0.8;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}


/* who we are */


.team-content{
    background-color: #4c6d26;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    color: white;
    margin-top: 15%;
    padding: 25px;
}
.brands{
    height:30vh;
    margin:5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-img{
    margin-top:25px;    
}
.brand-img h1{
    font-size: 9rem;
    color: rgba(121, 167, 207, 0.089);
}

.slider{
    position: relative;
    background-color:white;
    height: 400vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-container{
    position: sticky;
    top:20%;
    width: 100%;
    height: 100vh;
}
.slider-container:nth-child(3){
    animation-range-start: contain 40px;
}

.slidercontent{
    width: 80%;
    height: 70vh;
    background-color: red;
    position: absolute;
    top:0;
    left: 10%;
    margin:0 auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .3s ease-in;
}


.slidercontent h1{
    font-size: 2.5rem;
    margin-block: 20px;
}
.slidercontent button{
    padding:10px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid rgba(110, 146, 96, 0.37);
    margin-inline: 10px;
    background-color: rgba(255, 255, 255, 0.075);
    margin-block: 20px;

}
.one{
    background-color: #d8ddaa;
    
}
.two{
    background-color:  #a7e4e6;
}
.three{
    background-color:#aeeec8;
}
.slider-heading{
    padding-block: 45px;
}

.one h1{
    color: #5a5f2f;
    
}
.two h1{
    color:#2c5d5f;
    
}
.three{
    color:#39614a;
} 
 .one #explore{
    background:#888f48e8;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
    color: white;
    font-size:1rem;
    border:none;
}
.two #explore{
    background:#62a6a8;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
    color: white;
    font-size:1rem;
    border:none;
}
.three #explore{
    background:#4b725b;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
    color: white;
    font-size:1rem;
    border:none;
}
.active{

    transition: all .4s ease-in;
    transform:scale(1);
    width: 100%;
    left:0;
    border-radius: 0px;
    
    
}
strong{
    font-size: 1.3rem;
}

.review-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(255, 248, 210);
    height: 100vh;
    scroll-behavior: smooth;
}
.review-container{
    width: 50%;
    margin: 0 auto;

}
.review-container span {
    background:linear-gradient(60deg,rgb(107, 47, 219),rgb(255, 97, 145));
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    animation: text-reveal linear forwards;
    animation-timeline: view();
    
}


@keyframes text-reveal {
    to{
        background-size: 100% 100%;
    }
    
}
.review-container h1,p{
    margin-block: 3rem;
    line-height: 1.9;
}
.review-container h1 span{
    font-size:3rem;
    animation-range-start: cover 2vh;
    animation-range-end: cover 15vh;
    
    
}
.review-container p span{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    animation-range-start: cover 2.5vh;
    animation-range-end: cover 20vh;
}
.slide-control span{
    background-color: #5a7a34be;
    padding:8px;
    margin-inline: 25px;
    color:white;
    font-size:1.2rem;
    font-weight: 900;
}
.slide-control span:hover{
    background-color: #4c6d26;
}






/* list -course text animation */
.list-coruse-section {
    background-color: black;
    height: 200vh;
    color: white;
    position: relative;
    list-style: none;
}

.list-coruse-section h1 {
    font-size: 3rem;
    position: absolute;
    text-align: center;
    top: 10vh;
    height: 10vh;
    left: 10%;  
}

.list-coruse-section ul {
    position: absolute;
    width: 50%;
    left:12%;
    top: 70vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-block: 15px;
    justify-content: flex-end;
}

.list-coruse-section ul li span {
    display: flex;
   width: 100%;
    line-height: 1.9;
    font-size: 1rem;
    text-transform: uppercase;
 margin: 0.3rem;
    transform: translateY(200%);
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: harmond;
}

.list-coruse-section ul span.active {
    transform: translateY(0px);
    transition:  .1s ease-out;
}

.list-coruse-section ul li {
    height: 4rem;
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: flex-start;
    width:250px;

}
.list-coruse-section ul li:hover{
    cursor:pointer;
    opacity: 0.7;
}

/* .list-coruse-section ul  img{
    transform: translate(350px);
    animation: reveal-image .4s linear;
    animation-timeline: view();
    animation-range-start:5vh;
    display: none;
}
@keyframes reveal-image {

    to{
        display: block;
    }
}
.list-coruse-section ul:hover img{
    display: block;
}
.space{
background-color: lime;
    display: inline-block;
    width: 0.5rem;
} */

marquee{
    margin-block: 20px;
}
.marquee-container{
    position: absolute;
    bottom: 0;
    width:80%;
    margin:0 auto;
  padding:25px;
  height:40vh;
  background-color: black;
  mask-image:linear-gradient(90deg,transparent 5%,white,white,transparent);
}
.marquee-container button{
    padding:10px;
    border-radius: 10px;
    border: none;
    width: 150px;
    background-color: #c4c4c4e3;
    
    
}